<body>
  <!-- Preloading -->
  <div id="preloader">
    <div class="spinner">
      <div class="uil-ripple-css" style="transform:scale(0.29);">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="page-loader show"></div>
  <main>
    <!-- HEADER
  ================================================== -->
    {% include 2020_header.html %}
    <div id="smooth-scroll">
      <!-- PAGE
==================================================-->
      <div class="container text-left subpage">
        <h1 class="page-title box-animation">Schedule</h1>
        <div class="space30"></div>
        <!-- text -->
        <div class="container project-info">
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/stvn" style="min-width:320px;height:630px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
          <!-- Calendly inline widget end -->
        </div>
      </div>
      <!-- FOOTER -->
      {% include 2020_footer.html %}
    </div><!-- smooth scroll end -->
    {% include 2020_menu.html %}
  </main>
  {% include 2020_js.html %}
</body>
