<div class="right-menu">
  <div class="menu-close"></div>
  <div class="page-menu">
    <ul>
      <li><a data-type="ajax-load" href="{{ site.url }}">Home</a></li>
      <li><a href="https://stvnr.co/no" target="_blank">Resources</a></li>
      <li><a data-type="ajax-load" href="{{ site.url }}/projects">Projects</a></li>
      <li><a data-type="ajax-load" href="{{ site.url }}/programs">Programs</a></li>
      <li><a data-type="ajax-load" href="{{ site.url }}/about">About</a></li>
      <li><a data-type="ajax-load" href="{{ site.url }}/contact">Contact</a></li>
      <li><a data-type="ajax-load" href="{{ site.url }}/disclosures">Legal</a></li>
    </ul>
  </div>
</div>
