<footer>
  <div class="back-top float-left"> <i class="fas fa-chevron-up"></i>
    <p>Back to Top</p>
  </div>
  <div class="float-right copyright">
    <p>Copyright © 2014-{{ site.time | date: "%Y" }} StevenARodriguez.com. All rights reserved. <a href="{{ site.url }}/disclosures">Privacy Policy, Compliance, and Disclosures</a>.</p>
  </div>
  <!-- social links -->
  <div class="social float-left">
    <a href="https://linkedin.com/in/stevenarodriguez" target="_blank"><i class="fab fa-linkedin"></i>  </a>
    <a href="https://fb.me/stvnrco" target="_blank"><i class="fab fa-facebook-f"></i>  </a>
    <a href="https://twitter.com/stvnrco" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i>  </a>
    <a href="https://instagram.com/stvnrco" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i>  </a>
  </div>
</footer>
