<body>
  <!-- Preloading -->
  <div id="preloader">
    <div class="spinner">
      <div class="uil-ripple-css" style="transform:scale(0.29);">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="page-loader show"></div>
  <main>
    <!-- HEADER
  ================================================== -->
    <header>
      <!-- Logo -->
      <a data-type="ajax-load" href="index.html" class="logo">
        <img src="{{ site.url }}/assets/2020/img/logo.png">
      </a>
      <!-- Menu -->
      <div class="menu">  <span></span>
        <span></span>
      </div>
    </header>
    <div id="smooth-scroll">
      <!-- PAGE
==================================================-->
      <div class="container text-left subpage">
        <h1 class="page-title box-animation" data-delay="100">About Me</h1>
        <div class="space30"></div>
        <p class="subtext box-animation" data-delay="200">Regional Manager, U.S.A. and Canada at <a href="http://www.techstars.com?utm_source=stevenarodriguez.com" target="_blank">Techstars</a>
          <br>Founder/CEO at <a href="https://suego.co?utm_source=stevenarodriguez.com">SUEGO</a>&trade;, <a href="https://www.bloomshift.com?utm_source=stevenarodriguez.com" target="_blank">BloomShift</a>&trade; &amp; <a href="https://innovatecoalition.org?utm_source=stevenarodriguez.com" target="_blank">Innovate Coalition</a>
          <br>Coach &amp; Mentor at <a href="https://1863ventures.net?utm_source=stevenarodriguez.com" target="_blank">1863 Ventures</a> &amp; <a href="https://fi.co/?utm_source=stevenarodriguez.com" target="_blank">Founders Institute</a></p>
        <p></p>
        <div class="space50"></div>
        <!-- SERVICES
==================================================-->
        <!--
        <h2 class="subtitle box-animation" data-delay="400">Services</h2>
        <div class="space30"></div>
        <div class="services row box-animation" data-delay="600">
          <div class="col-lg-3 col-sm-6 service"> <i class="fas fa-desktop"></i>
            <h2>web development</h2>
            <p>Her extensive perceived may any sincerity extremity.</p>
          </div>
          <div class="col-lg-3 col-sm-6 service"> <i class="fas fa-paint-roller"></i>
            <h2>graphic design</h2>
            <p>Her extensive perceived may any sincerity extremity.</p>
          </div>
          <div class="col-lg-3 col-sm-6 service"> <i class="fas fa-lightbulb"></i>
            <h2>brainstorming</h2>
            <p>Her extensive perceived may any sincerity extremity.</p>
          </div>
          <div class="col-lg-3 col-sm-6 service"> <i class="fas fa-life-ring"></i>
            <h2>friendly support</h2>
            <p>Her extensive perceived may any sincerity extremity.</p>
          </div>
        </div>
        <div class="space80"></div>
        -->
        <!-- CLIENTS
==================================================-->
        <!--
        <div class="clients box-animation">
          <h2 class="subtitle box-animation">Our Clients</h2>
          <div class="space30"></div>
          <div class="row">
            <div class="col-lg-3 client">
              <img src="{{ site.url }}/assets/2020/img/client-1.jpg" alt="">
            </div>
            <div class="col-lg-3 client">
              <img src="{{ site.url }}/assets/2020/img/client-2.jpg" alt="">
            </div>
            <div class="col-lg-3 client">
              <img src="{{ site.url }}/assets/2020/img/client-3.jpg" alt="">
            </div>
            <div class="col-lg-3 client">
              <img src="{{ site.url }}/assets/2020/img/client-4.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="space80"></div>
      -->
        <!-- CONTACT BUTTON
==================================================-->
        <!--
        <div class="contact-link box-animation">
          <p class="subtext">We manufacture a hard copy of your
            <br>dreams and stories.</p>
          <div class="space50"></div> <a data-type="ajax-load" data-hover="Contact Steven" href="{{ site.url }}/contact" class="contact-btn top_30">Contact Us</a>
        </div>
      </div>
    -->
      <!-- subpage end -->
      <!-- FOOTER
==================================================-->
      {% include 2020_footer.html %}
    </div>
    <!-- smooth scroll end -->
    {% include 2020_menu.html %}
  </main>
  {% include 2020_js.html %}
</body>
